<h2>Create an Event</h2>
<%= form_for @post do |form| %>
  Title:
  <br>
  <%= form.text_field :sponsor %>
  <br>
  Body:
  <br>
  <%= form.text_area :email, :rows => 8, :cols => 60 %>
  <br>
  <%= form.submit %>
<% end %>
